body {
  background-color: #fa8072;
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.User-Photo {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}

.Title {
  font-size: calc(10px + 2vmin); /* Tamaño grande para el título */
  font-weight: 700; /* Fuente más gruesa */
}

.Subtitle {
  font-size: calc(5px + 2vmin); /* Tamaño más pequeño para el subtítulo */
  font-weight: 300; /* Fuente más fina */
}

@media (prefers-reduced-motion: no-preference) {
  /* .User-Photo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
