/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/App.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
body {
  background-color: rgb(238, 126, 102);
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 30px;
}

.User-Photo {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}

.Title {
  font-size: calc(10px + 2vmin); /* Tamaño grande para el título */
  font-weight: 700; /* Fuente más gruesa */
  margin: 2px;
}

.Subtitle {
  font-size: calc(5px + 2vmin); /* Tamaño más pequeño para el subtítulo */
  font-weight: 300; /* Fuente más fina */
  margin: 2px solid white;
  margin-bottom: 20px;
}

.LinkBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
  padding: 2px;
  background-color: #fafaf0;
  height: 30px;
  width: 85%;
  max-width: 300px;
  border: 1px solid #fafaf0;
  text-decoration: none;
  border-radius: 4px;
  color: #4682b4;
  /* color: inherit; */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.LinkBox:hover {
  background-color: rgb(238, 126, 102); /* Color salmón */
}

.LinkBox img {
  height: 80%;
  width: auto;
  max-height: 40px;
  margin-right: 10px;
}

.LinkBox span {
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* @media (prefers-reduced-motion: no-preference) {
  .User-Photo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

